.order-tracking-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  
  h1 {
    margin-bottom: 0px;
  }
  
  .progress-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .step-number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #dcdcdc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .step-text {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .step.completed .step-number {
    background-color: red;
  }
  
  .delivery-map {
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
  }
  
  .bike-animation {
    width: 20px;
    height: 20px;
    background-color: rgb(75, 75, 202);
    border-radius: 50%;
    position: absolute;
    top: 275px;
    left: 0;
    right: 0px;
    transform: translate(-50%, -50%);
    animation: bike 10s infinite;
  }
  
  .bike-animation.paused {
    animation-play-state: paused;
  }

  .success-button{
    margin-top: 0px;
    border: none;
    border-radius: 32px 64px;
    background-color: black;
    color: red;
    height: 30px;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
  }

  
  
  @keyframes bike {
    0% {
      left: 10%;
    }
    50% {
      left: 91%;
    }
    100% {
      left: 10%;
    }
  }
  
  @keyframes bike-paused {
    0% {
      left: 0%;
    }
    100% {
      left: 0%;
    }
  }

  @media only screen and (max-width:450px){
    .step-text{
        font-size: 14px;
    }
  }
  @media only screen and (max-width:300px){
    .step-text{
        font-size: 9px;
    }
  }
  